
<div class="container">
<h1>My expenses</h1>
    <%= simple_form_for Idea.new do |f| %>
      <%= f.input :title %>
      <%= f.input :amount %>
      <%= f.input :date %>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
    <% @ideas.each do |idea| %>
    <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%= idea.title %></p>
            <p><%= idea.amount %></p>
            <p><%= idea.date %></p>
          </blockquote>
          <br> 
           <%= link_to 'Delete', idea_path(idea), class: 'btn btn-sm btn-danger', data: {"turbo-confirm": "Are you sure?","turbo-method" => :delete} %>
            <%= link_to 'Edit', edit_idea_path(idea), class: 'btn btn-sm btn-success' %>
        </div>
      </div>
      <% end %>

      <div class="container mx-12px p-1 ">
        <div class="card" style="width: 500px;">
          <h2>Summary</h2>
           <ul class="list-group list-group-flush">
          <li class="list-group-item">Balance: <%=@debit_expense %>   </li>
          <li class="list-group-item">Debt: <%=@credit_expense %> </li>
          <li class="list-group-item">Total: <%=@total %></li>
           </ul>
        </div>
      
</div>